{% extends 'account_base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <br><h3>{{error}}</h3><br>
    <p class="sample-text"><i class="fa fa-check"> 비밀번호는 최소 8자 이상이어야 합니다.</i></p>
    <p class="sample-text"><i class="fa fa-check"> 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</i></p>
    <p class="sample-text"><i class="fa fa-check"> 숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</i></p>
    <form method="POST" action="{% url 'accounts:change_password' %}">
        {% csrf_token %}
        <input type="password" name="origin_password" placeholder="현재 비밀번호"
               onfocus="this.placeholder = ''" onblur="this.placeholder = '현재 비밀번호'" required
               class="text">
        <input type="password" name="password1" placeholder="새로운 비밀번호"
               onfocus="this.placeholder = ''" onblur="this.placeholder = '새로운 비밀번호'" required
               class="text">
        <input type="password" name="password2" placeholder="새로운 비밀번호 확인"
               onfocus="this.placeholder = ''" onblur="this.placeholder = '새로운 비밀번호 확인'" required
               class="text">
        <button type="submit" class="signin" value="변경">변경</button>
    </form>
</div>
{% endblock %}