{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "form_errors_login.html" %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
<div class="wrapper">
    <form method="post" class="form-signin" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please login</h2>
        <input type="hidden" name="next" value="{{next}}"> <!-- 로그인 성공후 이동되는 URL -->
        <input type="text" class="form-control" name="username" placeholder="ID" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button> <br>
        <a href="{% url 'reset_password' %}" class="btn btn-lg btn-primary btn-block">비밀번호 찾기</a>
    </form>
</div>
{% endblock %}