{% extends "account_base.html" %}
{% block content %}
{% include 'navbar.html' %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h4>비밀번호를 재설정합니다.</h4>
                        </div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" name="변경">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}