{% extends "base.html" %}
{% block content %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h3>비밀번호 재설정</h3>
                        </div>
                    </div>

                </div>
                <form method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" name="변경">
                    </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}