{% extends 'account_base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login" >
    <div>
        <p class=""><i class="fa fa-check"> 회원가입에 사용되었던 이메일을 입력해주세요. </i></p>
        <p class=""><i class="fa fa-exclamation-triangle"> <strong>전송 버튼 클릭 후 시간이 소요 될 수 있습니다.</strong> </i></p>
    </div>
    <br><br>    <br><br>    <br><br>
    <form method="post">
        {% csrf_token %}
        <div>
            <input type="email" name="email" class="text" placeholder="Put in your Email" style="height:50px; width:370px;">
            <button type="submit" class="signin">전송</button>
        </div>
    </form>
</div>
{% endblock %}