{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="hero" class="clearfix">

    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Home Training Solutions<br>for Your <span>Health!</span></h2>
          <div>
            <a href="{% static '#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src=" {% static 'assets/img/intro-img.svg' %}" alt="' %}" class="img-fluid">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

   <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row feature-item">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/portfolio/ht.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
            <h4>The work out can watch the fitness video by category and check the calories and spent time.</h4>
            <p>
              Work out function can check the exercise images, posture, calories, and time spent by selecting the desired exercise card.
            </p>
            <p>
              With the comment function, you can ask the trainer who is familiar with exercise if you have any questions about exercise.
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/portfolio/ht2.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
            <h4>The community can ask and answer questions with people.</h4>
            <p>
              Do you want to make sure you have the right posture or get tips on exercise? Solve your questions about exercise in the community.
            </p>
            <p>
              Post your questions, tips on how to diet, and exercise while watching the video.
            </p>
            <p>
              You can share your opinions and communicate with them through comments.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Features Section -->
    <!-- Top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- End Top button -->
{% endblock %}