{% load static %}
<section id="services">
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Health Fitness</a></h1>

      <nav class="main-nav d-none d-lg-block">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'workout:index' %}">Workout</a></li>
          <li><a href="{% url 'community:list' %}">Community</a></li>
          <li><a href="{% url 'intro' %}">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
</section>